@model Prod_Manger.Models.Domain.ProductModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyPriceVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyPriceVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyPriceNoVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyPriceNoVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPriceVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPriceVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPriceNoVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPriceNoVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
