@model IEnumerable<Prod_Manger.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubSubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubSubSubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubSubSubSubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyPriceVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyPriceNoVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPriceVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPriceNoVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubSubCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubSubSubSubCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyPriceVAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyPriceNoVAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellPriceVAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellPriceNoVAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                 @*    <form asp-action="Sell" asp-route-id="@item.Id" method="post">
                        <button onclick="sellProduct(@item.Id)" type="submit">Sold</button>
                    </form> *@
                    <form asp-action="Sell" asp-route-id="@item.Id" method="post">
                        <select id="ItemQuantity_@item.Id" name="ItemQuantity">
                            @for (int i = 1; i <= item.Buc; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <button onclick="sellProduct(@item.Id)" type="submit">Sold</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@* @section scripts {
<script src="~/js/Services.js" asp-append-version="true"></script>
} *@